.quote-prices
	margin-top 1em
	div
		display inline-flex
		span
			display block
			text-align: center
			width 8em
.trade-form-container
	width 15em
	margin: auto;
	form
		> *
			margin 0 .5em
		button
			width 100%