@import './../../assets/theme.styl'
section
	display block
	height 3em
	width 100%
	background-color color-grey
	border-bottom 5px solid friartuck
	margin-bottom 1em
h1
	margin 0
	line-height 1.5em
	display inline-flex
	margin 0 1em
	font-size 2em
.account-value
	text-align: center
	display inline-block
	padding 0 1em
	span.type
		font-size .8em
	span.dollars
		font-weight bold
		font-size 1.2em
		clear both
		display: flex;