@import '~jeet/styl/index.styl'
@import '~rupture/rupture/index.styl'
robinhood = #21ce99;
friartuck = #FF7429;
light = #FFA87A;
dark = #AE3D00;
friartuck2 = #EC2651;
friartuck3 = #FFAB29;
color-grey = #424242;
h1,h2,h3,h4,h5,p,span,div
	color #fff